<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="utf-8"/>
        <title>Password Reset</title>
    </head>
    <body>
        <p>Hi {{ name }},</p>
        {# The reset link should have an id valued "reset_link" to ensure testability #}
        <p>To reset your password for BlueCrew and Ocean Youth Bingo, follow the link <a id="reset_link" href="{{ url }}">here</a></p>
        <p>In case you forgot, your username is "{{ username }}".</p>
        <p>If you didn't request a reset, this email can be safely ignored.</p>
    </body>
</html>