<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="utf-8"/>
        <title>Email Verification</title>
    </head>
    <body>
        <p>Welcome!</p>
        {# The activation link should have an id valued "verify_link" to ensure testability #}
        <p>To verify your email for BlueCrew and Ocean Youth Bingo, follow the link <a id="verify_link" href="{{ url }}">here</a></p>
        <p>If you didn't sign up for an account, this email can be safely ignored.</p>
    </body>
</html>